<?xml version="1.0" encoding="UTF-8"?>
 
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
           id="org.apache.cordova.downloader"
      version="0.1.0">
    <name>Downloader</name>
    <description>Phonegap Downloader Plugin</description>
    <license>MIT</license>
    <keywords>phonegap,downloader</keywords>
 
 
    <js-module src="www/downloader.js" name="Downloader">
        <clobbers target="window.downloader" />
    </js-module>
 
    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Downloader">
                <param name="android-package" value="org.apache.cordova.downloader.Downloader"/>
            </feature>
        </config-file>
 
        <source-file src="src/android/Downloader.java" target-dir="src/org/apache/cordova/downloader" />      
     </platform>          
</plugin>